@model HastaneUygulamasi.Models.Odalar

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Sil</h1>

<div>
    <h6>Odalar</h6>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OdaNumarası)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OdaNumarası)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Sil" class="btn btn-danger" /> <br />
        <a asp-action="Index">Listeye dön</a>
    </form>
</div>
